@using InstaShop.Domain.Entities
@using InstaShop.WebUI.Models
@using InstaShop.WebUI.HtmlHelpers
@model ItemsListViewModel

@{
    /**/

    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Items)
{
    @Html.Partial("ItemSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
